{% extends "base.html" %}

{% block title %}
Shorty Awards Book Download
{% endblock title %}


{% block content %}
{% load static from staticfiles %}
<div class="row text header">
  <h1>The Short Report</h1>
</div>
<div class="row">
  <div id="blurb" class="col-md-9">
    <h2>The Shorty Awards honor the best of social media, recognizing the people and organizations producing real-time short form content across Twitter, Facebook, Tumblr, YouTube, Instagram, Vine, and the rest of the social Web.</h2></br></br>
    <h2>Social media gives companies a human touch, bringing customers closer to their favorite brands while allowing marketers to engage directly with followers in fun and creative ways. The Shorty Awards honor the talented agencies, brands, and leaders behind the best social media channels, campaigns, websites, games, and applications.</h2></br></br>
    <h2>Past Shorty winners and nominees include Comcast, JetBlue, The Daily Show, TED, Pepsi, Whole Foods, NASA, Jerry Seinfeld, Suze Orman Show, HBO, CNN Worldwide, Discovery Channel and many more social media pioneers.</h2></br></br>
    <h2>Download the Shorty Trend Report featuring the best social media campaigns from 2013.</h2>
  </div>
</div>
<div id="downloadRow" class="row">
  <div id="download" class="text">
    <form action="//shortyawards.us1.list-manage.com/subscribe/post?u=b8e14b0447001de7d674e1f9b&amp;id=ff1e578d61" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <h2>DOWNLOAD OUR REPORT</h2>
    <label for="mce-EMAIL">Email address</label>
    <input class="form-control" type="text" size="40" name="mce-EMAIL" placeholder="you@awesome.com"></input>
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_b8e14b0447001de7d674e1f9b_ff1e578d61" tabindex="-1" value=""></div>
    <input id="mc-embedded-submit" class="btn btn-primary btn-lg" type="sumbit" name="submit" value="Submit" onclick="ga.track('email')"></input>
  </div>
</div>

{% endblock content %}
