{% extends "base.html" %}

{% block title %}
Shorty Awards Book Download
{% endblock title %}


{% block content %}
{% load static from staticfiles %}
<div class="row text">
     <h1>The Short Report</h1>
</div>
<div class="row">
     <div class="col-md-6 text">
     	  <h2>The Shorty Awards honor the best of social media, recognizing the people and organizations producing real-time short form content across Twitter, Facebook, Tumblr, YouTube, Instagram, Vine, and the rest of the social Web.</h2>
	  <h2>Social media gives companies a human touch, bringing customers closer to their favorite brands while allowing marketers to engage directly with followers in fun and creative ways. The Shorty Awards honor the talented agencies, brands, and leaders behind the best social media channels, campaigns, websites, games, and applications.</h2>
	  <h2>Past Shorty winners and nominees include Comcast, JetBlue, The Daily Show, TED, Pepsi, Whole Foods, NASA, Jerry Seinfeld, Suze Orman Show, HBO, CNN Worldwide, Discovery Channel and many more social media pioneers.</h2>
	  <h2>Download the Shorty Trend Report featuring the best social media campaigns from 2013.</h2>
     </div>
     <div id="download" class="col-md-6 text">
          <h2>
     </div>
</div>

{% endblock content %}
